* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--primary);
}

.main {
    max-width: 1000px;
    margin: auto;
}



img {
    width: 100%;
}